.form {
  border: 1px solid black;
  padding: 10px;
  width: 100%;
  max-width: 800px;
  margin: 20px auto;
  margin-bottom: 20px;

  @media screen and (min-width: 705px) and (max-width: 1091px) {
    width: 90%;
  }

  @media screen and (max-width: 705px) {
    width: 70%;
  }

  &__label {
    display: block;
    text-align: start;
    margin-bottom: 10px;
    font-family: Embed, sans-serif;
    font-size: 16px;
  }

  &__button {
    background-color: #acb3bb;
    color: #000;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    font-family: Embed, sans-serif;
    font-size: 16px;
    transition: background-color 0.3s;

    &:hover {
      color: #fff;
      background-color: #101111;
    }
  }

  input,
  textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
    min-height: 50px;
    overflow: hidden;
    word-wrap: break-word;
    font-family: Embed, sans-serif;
    font-size: 12px;
    outline: none;
  }

  .box {
    display: flex;
    justify-content: center;
    gap: 20px;
  }
}